body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 9px;
      background-image: url('https://images.unsplash.com/photo-1430761647045-7b6bf10f4bbb');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .background{
     background-color: grey;
     opacity: 0.6;
     min-height: 200px;
  }
  p{
    font-size: 36px;
    font-family: arial;
    display: inline-block;
    color: #fff;
  }
  .content p {
    font-size: 36px;
    font-family: arial;
    position: relative;
    top: -130px;
  }
  

  .text-center{

    font-size: 36px;
    font-weight: bolder;
    background-color: rgba(241, 231, 231, 0.8);
  }