body{
    width:410px;
    border-style: dotted;
    border-width: 2px;
    margin-left: 40%;
}

div{

    border-style: solid;
    border-width: 2px;
    margin: 7px;
    padding: 7px;
    background-color: #ffefd5;
}

#caja1{
    border-color: red;
}

#caja2{
    margin:0 7px 7px 7px;
    border-color: blue;
    width:75px;
    float: left;
    height:200px;

}

#caja3{
    margin:0 7px 7px 7px;
    border-color: green;
    width:270px;
    float: left;
    height:300px;
    
}

#caja4{
     
    border-color: orange;
    clear:both;
    float: left;
    height:55px;
    width:358px;
    
}